*{
    background-color: rgb(138, 194, 194);
    

}

.container{
    display: flex;
    justify-content: space-evenly;
}
.loginbox{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

.logintitle{
    background-color: white;
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px 20px 0px;
}

.abc{
    background-color: white;
    font-size: 25px;
    font-weight: 700;
}


.input{
    padding-left: 30px;
    padding-right: 30px;
    background-color: white;
}


input{
    font-size: 25px;
    background-color: white;
}

.loginbtn{
    width: 350px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(204, 23, 159);
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
